#include <stdio.h>
Z
%d > 90
%C => Z

voif funA (char num) {

if (num  <´z´>
funB (num);
}

void funB (char num) {
funA (++num);
}
// num = ´A´
// funA (++A) ;  => funA (++64) = funA (65) => funA (´B´);
// num = ´B´;
// funA (++B); => funA(++65) => funA(66) => funA (´C´);

//...
//...
// num = ´Z´;
// funA(++Z); => funA(++90) => funA(100) => funA(´Z´);
funA(++num);
}

int ain (void)) {
funA (´A´);
return 0;
}

